/* Réinitialisation des styles par défaut du navigateur */
body, h1, h2, p, ul, li, a {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}



  
/* Style de l'en-tête */
header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}

/* Style du titre principal */
h1 {
    font-size: 2em;
}

/* Style de la barre de navigation */
nav {
    background-color: #444;
    text-align: center;
    padding: 10px 0;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
}

/* Style de la section principale */
main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

/* Style des sections */
section {
    margin-bottom: 20px;
}

/* Style des titres de section */
h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

/* Style du pied de page */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

/*affiche la liste de memebre de la page InscriptionPartie.php*/
.list-members {
    display: none;
}

.list-members.visible {
    display: block;
}

/*Liste des jeux proposé pour un membre*/
.card {
    max-width: 200px; /* Largeur maximale de la carte en pixels */
    margin-right: 10px; /* Marge entre les cartes en pixels */
}

.card-img-top {
    width: 150px; /* Largeur souhaitée de l'image */
    height: 100px; /* Hauteur souhaitée de l'image */
}

/* Style pour le bouton actif */
.navbar-nav .nav-item.active a.nav-link {
    color: #520000; /* Couleur du texte */
    background-color: #007bff; /* Couleur de fond */
    border-radius: 5px; /* Bord arrondi, ajustez selon vos préférences */
}

/* Style pour le bouton actif au survol */
.navbar-nav .nav-item.active a.nav-link:hover {
    color: #000000; /* Couleur du texte au survol */
    background-color: #b3b300; /* Couleur de fond au survol */
}

.bg-dark-opacity {
    background-color: rgba(0, 0, 0, 0.5) !important; /* 0.5 est l'opacité, réglable entre 0 (transparent) et 1 (opaque) */
}

.carousel-caption {
max-width: 50%; /* Ajustez la largeur maximale selon vos besoins */
margin: auto;
left: 0;
}


